Source: gnome-themes-zukitwo
Section: gnome
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://gnome-look.org/content/show.php/Zukitwo?content=140562
Vcs-Git: git://git.debian.org/collab-maint/gnome-themes-zukitwo.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/gnome-themes-zukitwo.git;a=summary

Package: gnome-themes-zukitwo
Architecture: all
Depends:
 gtk2-engines-murrine (>= 0.98.1.1),
 gtk2-engines-pixbuf,
 gtk3-engines-unico (>= 1.0.2),
 libgtk-3-0 (>= 3.4),
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 gnome-tweak-tool
Description: theme for GTK2, GTK3, GNOME Shell, Metacity, Unity and XFWM4
 Zukitwo is an attractive theme for GTK2, GTK3, GNOME Shell, Metacity, Unity
 and XFWM4.
 .
 It is meant to give an alternative to the default toolkit's themes and to
 provide unified look to applications on the cited environments.
